<ion-app> 

  <!-- Conteúdo do aplicativo -->
  <!-- <ion-router-outlet></ion-router-outlet> -->
   <div class="container">
  <ion-card class="card">
    <img alt="foto" src="../assets/img/foto.jpg" />
    <ion-card-header >
      <ion-card-title>Fabíola Gaspar de Melo</ion-card-title>
      <ion-card-subtitle>Matrícula: 22205531</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
     <p>ADS0301N </p>
     <p>Avaliação Formadora I</p>
    </ion-card-content>
  </ion-card>
</div>
</ion-app>
